node_modules/
dist/
lib/
coverage/
test/unit/coverage/
test/e2e/reports/
.sass-cache/
temp/
undefined/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
.env.local
.env.*.local
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log*
package-lock.json
